div.filters {
    display: flex;
    flex-flow: row wrap;
    max-width: 41em;
    margin: 1em;

    span {
        font-size: 0.6em;
        margin: 0.5em;
        padding: 0.2em;
        background: orangered;
        color: #fff;
        min-width: 4.5em;
        opacity: 1;
        text-align: center;
        box-shadow: 1px 1px 0 darkgray;
        cursor: pointer;

        &:hover {
            transition: color 0.3s ease-in;
            box-shadow: 0 0 0.3em white;
        }
    }

    .active {
        background: rgb(47, 47, 47);
        color: #fff;
    }
}