*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font: 16px/1.5 Playfair Display, Helvetica, Verdana, sans-serif;
}

body, input, textarea, section, select, table, form {
    font: inherit;
}

body {
    background: rgb(47, 47, 47);
}

main {
    display: grid;
    grid-template-columns: 20rem auto 20rem;
    grid-template-rows: 15rem 25rem auto;
}

main div.container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

main div.navigation {
    position: fixed;
    content: '';
    top: 50%;
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: rgb(182, 182, 182);
}

main div.navigation a {
    color: inherit;
    text-decoration: none;
}

main div.navigation .fa {
    position: absolute;
    top: -0.4em;
}

main div.navigation:hover .fa {
    color: orangered;
    font-size: 8em;
    transition: font-size 0.3s ease-out;
    cursor: pointer;
}

main div.left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    left: 5em;
}

main div.left strong {
    position: relative;
    left: 1em;
    visibility: hidden;
    color: rgb(182, 182, 182);
    font-size: 0.5em;
    transition: all 0.1s ease-out;
}

main div.left:hover strong {
    visibility: visible;
    font-size: 2em;
    transform: translate(1em, -0.2em);
    transition: all 0.3s ease-in;
}

main div.right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    right: 5em;
}

main div.right strong {
    position: relative;
    right: 0.1em;
    visibility: hidden;
    color: rgb(182, 182, 182);
    font-size: 0.5em;
    transition: all 0.1s ease-out;
}

main div.right:hover strong {
    visibility: visible;
    font-size: 2em;
    transform: translate(-1em, -0.2em);
    transition: all 0.3s ease-in;
}

main div.container div.text {
    color: rgb(110, 110, 110);
    padding: 2em 5em 2em 5em;
    text-align: center;
    text-justify: inter-word;
    position: relative;
    /* animation: text-animation 1s forwards; */
}

main div.container div.text:hover {
    font-size: 1.5em;
    animation: text-border 3s forwards;
    transition: font-size 0.3s ease-out; 
}

main div.container div.text h2 {
    color: rgb(182, 182, 182);
}

main div.container div.text:hover h2 strong {
    transition: color 0.3s ease-in; 
    color: orangered;
}

@keyframes text-animation {
    0%   { top: -50em; }
    50%  { top: 10em; }
    100% { top: 0; }
}

@keyframes text-border {
    20% {
       box-shadow: 0.5em 1.5em 3em orangered;
    }
}