@media (max-width: 1023px) {
    main {
        grid-template-areas:
            "navigation . . menu menu"
            "main main main main main"; 
    }

    main div.navigation-left {
        visibility: hidden;
    }

    main div.navigation-right {
        visibility: hidden;
    }
}

@media (min-width: 1024px) {
    main {
        grid-template-areas: 
            "navigation . . menu menu" 
            "navigation-left main main main navigation-right";
    }
}