.section-experience {
    padding: 2em 2em 0 2em;

    &:hover div.details {
        max-height: 50em;
    }

    header {
        border-bottom: 2px solid #000;
        padding: 1em;
        margin-left: -1em;
        border-radius: 0.3em;
        display: inline-block;
        color: orangered;
    }
}

ol.experience {
    border-left: 2px solid #000;
    padding: 2em 0;

    li {
        display: block;
        list-style: none outside;
        padding-left: 2em;
        position: relative;

        &:before {
            display: block;
            content: '';
            width: 1em;
            height: 1em;
            border: 2px solid #000;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: calc( (1em) / 2 * -1 );
        }

        $list: rgb(75, 75, 75),
               rgb(100, 100, 100),
               rgb(125, 125, 125),
               rgb(150, 150, 150),
               rgb(175, 175, 175),
               rgb(225, 225, 225);

        @for $i from length($list)*-1 through -1 {
            &:nth-child(#{abs($i)}) span,
            &:nth-child(#{abs($i)}) strong.title {
                color: nth($list, $i);
            }
            &:nth-child(#{abs($i)}):before {
                background: nth($list, $i);
            }
        }

        strong.title {
            display: block;
            margin: 0;
            margin-bottom: 0.3em;
        }

        &:not(:first-child) {
            margin-top: 2em;
        }
    }

    div.position {
        color: orangered;
    }

    div.position-description {
        font-size: 0.8em;
    }

    $icons: 'xlsx.svg',
            'SQL.svg',
            'python.svg',
            'pandas.svg',
            'numPy.svg',
            'javaScript.svg',
            'selenium.svg',
            'mongoDB.svg',
            'power-bi.svg',
            'power_Automate.svg',
            'power_Query.svg',
            'sharePoint.svg',
            'HTML5.svg',
            'CSS3.svg',
            'xlsx.svg',
            'CSharp.svg',
            'javaScript.svg';

    div.details {
        transition: max-height 1s;
        overflow: hidden;
        max-height: 0;
        margin-top: 0.5em;
        font-size: 0.8em;

        div.svg-social {
            width: 25px;
            height: 25px;
            opacity: 1;
            display: inline-block;
            background-repeat: no-repeat;
        }
    }

    @for $i from 1 through length($icons) {
        div.svg-social:nth-of-type(#{$i}) {
            background-image: url('../../assets/icons/' + nth($icons, $i));
        }
    }
}

@media (min-width: 1024px) {
    .section-experience header {
        display: block;
        max-width: 40%;
        margin: 0 auto;
        text-align: center;
        color: orangered;
    }

    ol.experience {
        margin-left: 50%;

        li:nth-child(even) {
            width: 100%;
            margin-left: -100%;
            padding: 0 2em 0 0;
            text-align: right;
            margin-top: -2em;
        }

        li:nth-child(even):before {
            left: initial;
            right: calc( (1em) / 2 * -1 );
        }
    }
}