@import "../variables.css";
@import "../typography.css";
@import "../about/navigation.css";

body {  
    background: rgb(47, 47, 47);
}

main {
    display: grid;
    grid-template-columns: 15vw 15vw auto 15vw 15vw;
    grid-template-rows: 20vh 60vh auto;
}

@media (max-width: 1023px) {
    main {
        grid-template-areas:
            "navigation . . menu menu"
            ". main main main ."; 
    }

    main div.navigation-left {
        visibility: hidden;
    }

    main div.navigation-right {
        visibility: hidden;
    }
    
    .media {
        width: 70vw;
    }
}

@media (min-width: 1024px) {
    main {
        grid-template-areas: 
            "navigation . . menu menu" 
            "navigation-left main main main navigation-right";
    }

    .media {
        width: 25vw;
    }
}

main nav {
    grid-area: navigation;
}

main div.hamburger {
    grid-area: menu;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

main div.container {
    grid-area: main;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

main div.navigation {
    position: fixed;
    content: '';
    top: 50%;
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: rgb(182, 182, 182);
}

main div.navigation a {
    color: inherit;
    text-decoration: none;
}

main div.navigation .fa {
    position: absolute;
    top: -0.4em;
}

main div.navigation:hover .fa {
    color: orangered;
    font-size: 8em;
    transition: font-size 0.3s ease-out;
    cursor: pointer;
}

main div.navigation-left {
    grid-area: navigation-left;
    left: 5em;
}

main div.navigation-left strong {
    position: relative;
    left: 1em;
    visibility: hidden;
    color: rgb(182, 182, 182);
    font-size: 0.5em;
    transition: all 0.1s ease-out;
}

main div.navigation-left:hover strong {
    visibility: visible;
    font-size: 1.5em;
    transform: translate(0.8em, -0.2em);
    transition: all 0.3s ease-in;
}

main div.navigation-right {
    grid-area: navigation-right;
    right: 5em;
}

main div.navigation-right strong {
    position: relative;
    right: 0.1em;
    visibility: hidden;
    color: rgb(182, 182, 182);
    font-size: 0.5em;
    transition: all 0.1s ease-out;
}

main div.navigation-right:hover strong {
    visibility: visible;
    font-size: 1.5em;
    transform: translate(-0.8em, -0.2em);
    transition: all 0.3s ease-in;
}

.media {
    background: #666;
    position: relative;
    margin: 1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, 0.2);
}

.media:after,
.media:before {
    display: block;
    content: '';
}

.media.ar-9x16:before {    
    padding-top: 56.25%;
}

.media.ar-16x9:before {    
    padding-top: 177.77%;
}

.media:after {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.media:hover:after {
    opacity: 1;
    animation: expand 0.4s ease-out;   
    cursor: pointer;
}

.media:hover div.tags span {
    opacity: 1;
}

.media img {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.media div.tags {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    left: 1em;
    top: 1em;
    transition: opacity 0.2s ease-in;
}

.media div.tags span {
    margin: 0.5em;
    background: orangered;
    color: #fff;
    min-width: 4.5em;
    z-index: 1;
    opacity: 0;
    text-align: center;
    box-shadow: 2px 2px 0 darkgray;
    transition: opacity 0.2s ease-out;
}

.media div.tags span:nth-child(1) {    
    transition-delay: 0.4s;
}

.media div.tags span:nth-child(2) {
    transition-delay: 0.5s;
}

.media div.tags span:nth-child(3) {
    transition-delay: 0.6s;
}

.media div.tags span:nth-child(4) {
    transition-delay: 0.7s;
}

.media.ar-9x16 img {
    width: 100%;
    height: auto;
}

.media.ar-16x9 img {
    width: auto;
    height: 100%;
}

@keyframes expand {
    10% {
        height: 10%;
    }
    100% {
        height: 100%;
    }
}

/* 
.line-navigation-left {
    transform: translateZ(0) rotate(40deg);
    position: absolute;
    top: 0;
    left: 0;
}

.line-navigation-right {
    transform: translateZ(0) rotate(-40deg);
    position: absolute;
    top: calc(50% - 18.5px);
    left: calc(50% - 18px);
}

.line-navigation-left:hover {
    transform: translateZ(0) rotate(80deg);
}
.line-navigation-right:hover {
    transform: translateZ(0) rotate(-80deg);
} */