nav {
    grid-area: navigation;
}

#menuToggle {
    display: block;
    position: relative;
    top: 3em;
    left: 3em;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

    input {
        display: block;
        width: 1em;
        height: 1em;
        position: absolute;
        top: -20em;
        left: -20em;
    }

    input:checked~ul {
        transform: none;
    }
}

#menu {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: -3em 0 0 -3em;
    padding: 1em;
    background: rgb(47, 47, 47);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    justify-items: center;

    a {
        text-decoration: none !important;
        color: rgb(182, 182, 182);

        &:hover {
            color: orangered;
        } 
    } 
    
    li {
        padding: 0.5em 0;
        font-size: 2em;

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                transition-delay: $i * 0.2s;
            }
        }
    }
}