@import "../variables.css";
@import "../typography.css";
@import "../about/navigation.css";

body {  
    background: rgb(47, 47, 47);
    overflow: hidden;
    height: 100vh;
}

.section-timeline {
    margin: 2em;
    padding: 8em 2em 0 2em;
    overflow-x: auto;
    position: relative;
}

.section-timeline header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    margin-left: 3em;
    border-radius: 0.3em;
    max-width: 50%;
    text-align: center;
    color: orangered;
}

ol.timeline {
    display: flex;
    padding-bottom: 2em; 
}

ol.timeline li {
    flex: 0 0 20em;
    display: block;
    list-style: none outside;
    padding: 2em 2em 0 0;
    position: relative;
    border-top: 2px solid #000;
    /* opacity: 0;
    transition: opacity 0.4s ease-out, transform 0.4s ease-in; */
}

ol.timeline li:last-child {
    border-color: transparent;
}

ol.timeline li:before {
    display: block;
    content: '';
    width: 1em;
    height: 1em;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    top: calc( (1em + 4px) / 2 * -1 );
    left: 0;
}

ol.timeline li:nth-child(6) span,
ol.timeline li:nth-child(6) strong.title {
    color: rgb(75, 75, 75);
}

ol.timeline li:nth-child(6):before {
    background: rgb(75, 75, 75);
}

ol.timeline li:nth-child(5) span,
ol.timeline li:nth-child(5) strong.title {
    color: rgb(100, 100, 100);
}

ol.timeline li:nth-child(5):before {
    background: rgb(100, 100, 100);
}

ol.timeline li:nth-child(4) span,
ol.timeline li:nth-child(4) strong.title {
    color: rgb(125, 125, 125);
}

ol.timeline li:nth-child(4):before {
    background: rgb(125, 125, 125);
}

ol.timeline li:nth-child(3) span,
ol.timeline li:nth-child(3) strong.title {
    color: rgb(150, 150, 150);
}

ol.timeline li:nth-child(3):before {
    background: rgb(150, 150, 150);
}

ol.timeline li:nth-child(2) span,
ol.timeline li:nth-child(2) strong.title {
    color: rgb(175, 175, 175);
}

ol.timeline li:nth-child(2):before {
    background: rgb(175, 175, 175);
}

ol.timeline li:nth-child(1) span,
ol.timeline li:nth-child(1) strong.title {
    color: rgb(225, 225, 225);
}

ol.timeline li:nth-child(1):before {
    background: rgb(225, 225, 225);
}

ol.timeline li strong.title {
    display: block;
    margin-bottom: 0.3em;
}

ol.timeline li:nth-child(1) {
    transition-delay: 0.1s;
}

ol.timeline li:nth-child(2) {
    transition-delay: 0.1s;
}

ol.timeline li:nth-child(3) {
    transition-delay: 0.1s;
}

ol.timeline li:nth-child(4) {
    transition-delay: 0.1s;
}

ol.timeline li:nth-child(5) {
    transition-delay: 0.1s;
}

ol.timeline li:nth-child(6) {
    transition-delay: 0.1s;
}

/* onload */
/* ol.timeline li .load {
    opacity: 1;
    transform: translateY(-2em);
    animation: fadein 2s;
} */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}