<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timeline</title>
    <link rel="stylesheet" href="../../assets/css/timeline/timeline-vertical.css">
    <link rel="stylesheet" href="../../assets/css/about/hamburger.css">
    <link rel="stylesheet" href="../../assets/css/about/menu.css">
    <link rel="stylesheet" href="../../assets/css/about/index.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <nav>
            <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <a href="#"><li>Home</li></a>
                        <a href="#"><li>About</li></a>
                        <a href="#"><li>Info</li></a>
                        <a href="#"><li>Contact</li></a>
                    </ul>
                </div>
            </nav>
            <div class="hamburger">
                <button class="btn-toggle" id="menu-toggle">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </button>
            </div>
            <div class="navigation navigation-left">
                <!-- <a href="http:#">
                    <i class="fa fa-angle-left fa-5x" aria-hidden="true"></i>
                </a>
                <strong>
                    <a href="http:#">
                        contacts
                    </a>
                </strong>    -->
                <a href="http:#">
                    <span>about</span>
                    <em></em>
                </a> 
            </div>
        <div class="container">
            <section class="section section-timeline">
                <header>
                    <h3>Work Experience</h3>
                </header>
                <ol class="timeline">
                    <li>
                        <strong class="title">May 2017 – present</strong>
                        <span class="content">
                            <strong>AIG CoE</strong>
                            <br>    
                            <strong>Development Support Analyst</strong>
                            <br>
                                The Development Support Analyst of CoE Sofia works with business partners to support standard requests for design, develop and support a mission critical automation solutions.
                            <br>      
                            <div class="details">                                
                                <span>
                                    [ Successfully developed and supported a data collection tool for gathering the basic KPIs within the center, data management and dashboard reporting. Reports across hi-level management are built up on the provided data. ]
                                </span>
                                <br>                           
                                <span>
                                    [ Successfully deployed and implemented the mentioned tool in Malaysia. ]
                                </span>
                                <br>                           
                                <span>
                                    [ Successfully developed a career development framework designed for in-house career planning which facilitates the employee-team leader relationship in building the employee’s soft and technical skills. ]
                                </span>
                                <br>      
                                <span>
                                    [ Successfully developed a self-sufficient robotic solution for data gathering which collects information for regular daily reporting needs. ]
                                </span>
                                <br>  
                                <span>
                                    [ Successfully built a JavaScript based dashboard for fetching data without any deployed server using IE and ActiveX model only; using several data visualization libraries. ]
                                </span>
                                <br>  
                                <span>
                                    [ Multiple process automations across the teams within the center, FTE savings and processes excellence. ]
                                </span>  
                            </div>      
                        </span>
                    </li>
                    <li>
                        <strong class="title">Sept 2016 – May 2017</strong>
                        <span class="content">
                            <strong>AIG CoE</strong>
                            <br>    
                            <strong>Reporting Administrator</strong>
                            <br>
                                Reporting Administrator of CoE Sofia works with TPA reports and prepares necessary summaries.
                            <br>
                            <div class="details">
                                <span>
                                    [ Retrieve the MI/KPI Report or Claims Loss Runs received from TPA via the outsourcing inbox or other mail address. This will have to be checked on a daily basis as the reports will come in on different dates. ]
                                </span>
                                <br>
                                <span>
                                    [ Transfer the updated data for the relevant month from the MI/KPI Card into the TPA Metric Card. Update ﬁelds in the Metric card summary tab along with graphs. ]
                                </span>
                            </div>       
                        </span>
                    </li>
                    <li>
                        <strong class="title">Sept 2014 - Sept 2016</strong>
                        <span class="content">
                            <strong>AIG CoE</strong>
                            <br>
                            <strong>Operations Process Administrator with Spanish language</strong>
                            <br>
                                Operations Process Administrator with Spanish language of CoE Sofia performs different administrative functions and provides a package of ancillary and administrative services corresponding to the daily needs of those customers, arising in the context of their activities.
                            <br>                 
                            <div class="details">
                                <span>
                                    [ Overally administer document flow associated with the processes administered, including preparing/drawing up documents, reading, editing, and proofreading of documents, classifying, processing, and archiving documents. ]
                                </span>
                            </div>          
                        </span>
                    </li>    
                </ol>
            </section>
        </div>
        <div class="navigation navigation-right">
            <!-- <strong>
                <a href="http:#">
                    portfolio
                </a>
            </strong>
            <a href="http:#">
                <i class="fa fa-angle-right fa-5x" aria-hidden="true"></i>
            </a> -->
            <a href="#">
                <span>contacts</span>
                <em></em>
            </a>
        </div>    
        </nav>
    </main> 
    <script src="../../scripts/about/hamburger.js"></script>
</body>
</html>