@import url("about-media.css");

main div.container div.text {
    color: rgb(110, 110, 110);
    padding: 3em;
    text-align: end;
    text-justify: inter-word;
    position: relative;
    /* animation: text-animation 1s forwards; */
}

main div.container div.text:hover {
    transform: translateY(-0.3em);
    animation: text-border 3s forwards;
    transition: transform 0.5s ease; 
}

main div.container div.text h3 {
    color: rgb(182, 182, 182);
}

main div.container div.text:hover h3 strong {    
    transition: color 0.3s ease-in; 
    color: orangered;
}

@keyframes text-animation {
    0%   { top: -50em; }
    50%  { top: 10em; }
    100% { top: 0; }
}

@keyframes text-border {
    20% {
       box-shadow: 0.5em 1.5em 3em orangered;
    }
}