main div.container div.text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    color: rgb(110, 110, 110);
    margin-top: 5em;
    padding: 3em;
    text-align: left;
    position: relative;
    min-width: 60vw;

    &:hover,
    &.animate {
        transform: translateY(-0.05em);
        animation: text-container-border 3s forwards;
        transition: transform 0.5s ease;
    }

    h3 {
        color: rgb(182, 182, 182);
    }

    &:hover,
    &.animate h3 strong {
        transition: color 0.3s ease-in;
        color: orangered;
    }

    strong {
        color: rgb(110, 110, 110);
    }

    &:hover,
    &.animate strong {
        transition: color 0.3s ease-in;
        color: orangered;
    }

    .avatar-wrapper {
        width: 5em;
        height: 5em;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
    }

    .avatar-wrapper img {
        object-fit: cover;
        border-radius:50%;
        width: 100%;
        height: 100%;
    }
}

$list: 'email.svg',
       'github.svg',
       'linkedin.svg',
       'facebook.svg',
       'spotify.svg';

main div.social {
    color: rgb(110, 110, 110);
    padding: 0 3em 0 3em;
    text-align: left;
    position: relative;
    min-width: 60vw;

    ul {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        padding: 1em 0;
        justify-content: flex-start;
        align-items: flex-end;

        li {
            margin-right: 1.5em;
            margin-bottom: 1.5em;
            opacity: 0;

            div.svg-social {
                border-radius: 40px;
                width: 35px;
                height: 35px;

                &:hover {
                    animation: social-border 3s forwards;
                }
            }

            @for $i from 1 through length($list) {
                &:nth-child(#{$i}) div.svg-social {
                    background-image: url('../../assets/icons/' + nth($list, $i));
                }
            }
        }

        &.visible li {
            opacity: 1;
            animation: social-load 0.3s forwards;
            transition: opacity 0.3s ease,
                        animation 0.3s ease;

            @for $i from 1 through length($list) {
                &:nth-child(#{$i}) {
                    animation-delay: $i * 0.1s;
                    transition-delay: $i * 0.2s;
                }
            }
        }
    }
}

@keyframes text-container-animation {
    0%   { top: -50em; }
    50%  { top: 5em; }
    100% { top: 0; }
}

@keyframes text-container-border {
    20% {
       box-shadow: 0.5em 1.5em 3em orangered;
    }
}

@keyframes social-border {
    20% {
       box-shadow: 0 0 1.5em orangered;
    }
}

@keyframes social-load {
    0% {
        transform: translateX(-18em);
    }

    20% {
        transform: translateX(-16em);
    }

    40% {
        transform: translateX(-14em);
    }

    60% {
        transform: translateX(-12em);
    }

    80% {
        transform: translateX(-4em);
    }
    100% {
        transform: translateX(0);
    }
}