div.media-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 50vh;
    position: relative;
}

div.box {
    position: absolute;

    &:after {
        border-style: solid;
        border-width: 0.5em;
        border-color: grey;
        border-top: none;
        display: block;
        content: '';
        position: relative;
        overflow: hidden;
        min-width: 115%;
        left: -7.5%;
        height: 10vh;
        top: -8vh;
        z-index: -1;
    }
}

$listLength: 7;

div.media-skill {
    opacity: 0;
    color: white;
    min-width: 10vw;
    margin: 0.3em;
    font-size: 0.8em;

    &.visible {
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: orangered;
        width: 10em;
        overflow: hidden;
        box-shadow: 0.02em 0.02em 0 0.02em white;
        transition: opacity 0.3s ease;
        cursor: pointer;

        @for $i from 1 through $listLength {
            &:nth-last-child(#{$i}):hover {
                transition: color 0.3s ease-in;
                box-shadow: 0 0 0.3em white;
            }
        }
    }

    &.visible div.back {
        display: none;
    }

    &.animated {
        animation: text-container-animation 1s forwards ease-in-out;

        @for $i from 1 through $listLength {
            &:nth-last-child(#{$i}) {
                animation-delay: $i * 0.2s;
                transition-delay: $i * 0.2s;
            }
        }
    }

    &.open {
        padding: 1em 0;
        box-shadow: none !important;

        &.left {
            animation: skill-open-animation-left 0.2s forwards ease-in-out;
            transition-delay: 0.2s;
        }

        &.right {
            animation: skill-open-animation-right 0.2s forwards ease-in-out;
            transition-delay: 0.2s;
        }
    }

    &.open div.front {
        display: none;
    }

    &.open div.back {
        display: block;
        margin-left: 1em;
        margin-right: 1em;
        transform: rotateY(180deg);
    }

    &.closed {
        margin: 0.3em;

        &.left {
            animation: skill-closed-animation-left 0.2s forwards ease-in-out;
            transition-delay: 0.2s;
        }

        &.right {
            animation: skill-closed-animation-right 0.2s forwards ease-in-out;
            transition-delay: 0.2s;
        }
    }
}

@keyframes text-container-animation {
    0%   { transform: translate(-150em, 0) rotate(180deg); }
    50%   { transform: translate(-10em, -10em); }
    100%   { transform: translate(0, 0); }
}

@keyframes skill-open-animation-left {
    0%   { transform: translate(0, 0); }
    100%   { transform: translateX(10em) rotateY(180deg); }
}

@keyframes skill-open-animation-right {
    0%   { transform: translate(0, 0); }
    100%   { transform: translateX(-10em) rotateY(180deg); }
}

@keyframes skill-closed-animation-left {
    0%   { transform: translateX(10em); }
    100%   { transform: translateX(0, 0); }
}

@keyframes skill-closed-animation-right {
    0%   { transform: translateX(-10em); }
    100%   { transform: translateX(0, 0); }
}